body{
    padding: 0;
    margin: 0 auto;
    width:900px;
    background-color:#FAB;
}
h1{
    padding:0;
    margin: 0;
    color:white;
}

ul li{
	list-style-type: none;
}
li a{
    text-decoration: none;
    color:yellow;
}
li a:hover{
	color:black;
	font-size: 18px;
	text-decoration: underline;
}
.miArticulos{
	width: 100%;
	height: auto;
}
.miArticulos article{
	width:280px;
	float: left;
	padding:0 20px 0 0;
}
.miArticulos article p{
	text-align: justify;
	text-justify: inter-word;
}
textarea,input[type='text']{
	color:orange;
	background-color:black;
	font-size: 19px;
}
input[type='button']{
	width: 90px;
	height: 30px;
	border-radius: 15px;
	color:orange;
	background-color:yellow;
	cursor: pointer; 
}